body {
  margin: 0px;
  font-family: "Helvetica", Arial, sans-serif;
}

img {
  width: 100%;
}

.title {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  -webkit-text-fill-color: gainsboro;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: goldenrod;
  margin: 20px 0px 0px 0px;
}

code {
  display: block;
  background-color: gainsboro;
  padding: 10px;
  color: dimgrey;
}

a {
  text-decoration: none;
  color: steelblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 10px;
  box-sizing: border-box;
  padding: 7px;
  width: 90%;
  height: 30vh;
}

.titleBar {
  display: flex;
  justify-content: center;
  background: goldenrod;
  color: black;
  text-transform: lowercase;
  padding: 10px;
  margin: 30px 0px 0px 0px ;
  width: 100%;
}
  
.preview {
  box-sizing: border-box;
  margin: 10px;
  padding: 0px 20px;
  width: 90%;
  min-height: 30vh;
  color: dimgray;
}
